h1 {
  text-align: center;
  color: aquamarine
}
header {
  background-color: grey
}
header nav ul li {
  display: inline;
  margin: 45px;
  color: rgb(200, 221, 245)
}
h2 {
  background-color: paleturquoise
}
p{
  color: burlywood;
  background-color: blueviolet
}
footer{
  text-align: center;
  color: aquamarine;
  background-color: grey
}
h3 {
  color: rgb(247, 17, 55)
}

